.modal {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  color: #454545;
  border-radius: 12px;
  position: absolute;
  width: 350px;
  height: 250px;
  padding: 50px;
  top: 170px;
  left: calc(50% - 225px);
  bottom: 70px;
  border: 1px solid #454545;
}
